<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduate.mapper.LoginMapper">
    <!--通过用户名查找用户-->
    <select id="findByName" resultType="com.graduate.pojo.Users">
        select username, password, alias,teacher_id from users where username=#{username};
    </select>
    <!--通过电话去查询-->
    <select id="findByPhone" resultType="com.graduate.pojo.Users">
        select username, password, alias,teacher_id  from users where phone = #{phone};
    </select>
</mapper>