<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace指定我的mapper接口-->
<mapper namespace="com.graduate.mapper.ProductMapper">
    <!--查询所有的商品信息-->
    <!--id 指定接口中的方法 注：方法名不能重复既是不能重载-->
    <!--parameterMap 传递值-->
    <!--mybatis返回数据的方式 两种方法-->
    <!--方法一 resultType 该方法是直接赋值-->
    <!--方法二 resultMap 该方法是使用的映射 一一对应-->
    <select id="findAll" resultType="com.graduate.pojo.Product">
        select * from product;
    </select>
    <!--查询所有状态开启的商品信息-->
    <select id="findStatus" resultType="com.graduate.pojo.Product">
        select * from product where product_status=1;
    </select>
</mapper>