<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduate.mapper.StudentMapper">
    <select id="findAll" resultType="com.graduate.pojo.Student">
        SELECT id, student_name, student_age, student_gender, student_height, student_teacher, student_faculty, student_time
        FROM student
    </select>
</mapper>