<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduate.mapper.StudentMapper">
    <select id="findAll" resultType="com.graduate.pojo.Student">
        SELECT
        id,
        student_name,
        year(now())-year(student_birth) student_age,
        student_birth,
        student_gender,
        student_height,
        student_class_id,
        student_profession_id,
        student_teacher_id,
        student_faculty_id,
        student_time
        FROM student
        WHERE
        YEAR (now())- YEAR ( student_time ) &lt;= 3 AND is_delect = 0
        GROUP BY
        student_faculty_id,
        student_class_id,
        student_teacher_id
        ORDER BY
        student_faculty_id,
        student_class_id,
        student_teacher_id DESC
    </select>
    <!--通过id获取学生的详情信息-->
    <select id="findById" resultType="com.graduate.pojo.Student">
        select
        id,
        student_name,
        year(now())-year(student_birth) student_age,
        student_birth,
        student_gender,
        student_height,
        student_class_id,
        student_profession_id,
        student_teacher_id,
        student_faculty_id,
        student_time FROM student where id = #{id}
    </select>
    <!--更新学生信息-->
    <update id="updateInfo">
        update student
        <set>
            <if test="student.studentName!=null and student.studentName != ''">
                student_name=#{student.studentName},
            </if>
            <if test="student.studentHeight!=null and student.studentHeight != ''">
                 student_height= #{student.studentHeight},
            </if>
            <if test="student.studentFacultyId!=null and student.studentFacultyId!=''">
                student_faculty_id = #{student.studentFacultyId},
            </if>
            <if test="student.studentProfessionId!=null and student.studentProfessionId!=''">
                student_profession_id = #{student.studentProfessionId},
            </if>
            <if test="student.studentClassId!=null and student.studentClassId!=''">
                student_class_id = #{student.studentClassId},
            </if>
            <if test="student.studentTeacherId!=null and student.studentTeacherId!=''">
                student_teacher_id = #{student.studentTeacherId}
            </if>
        </set>
        where id = #{student.id}
    </update>
</mapper>